[2020-10-02 08:22] aclarembeau commented on #710
Just closing it, I remark that it has been fixed by appending a check on the changes in a recent version of the gem

[2020-10-02 08:22] #710 closed

[2020-10-03 03:30] #676 closed

[2020-10-05 15:12] jkowens commented on #670
Closing for now, waiting for more information.

[2020-10-05 15:12] #670 closed

[2020-10-09 20:23] breathe commented on #55
Love this idea -- has this been implemented?

[2020-10-09 21:15] jkowens commented on #55
@breathe nope it is still open. Like Zach mentioned above, I don't think the current implementation will make this an easy update, but if you're interested in working on it that would be awesome. I'm thinking an option like `:preview_sql` would be my preference vs a new method.

[2020-10-12 17:34] #704 closed

[2020-10-27 19:03] facuhump2409 opened #712 "Import has_many recursive on_duplicate_key_ignore"
I like to know if there's a way of updating a table that has a many to many relationship but if the record is already there ignore it. Cause I have a Offer which has many categories coming from an API and sometimes I get the same offer and I want to update the categories if they change or keep the ones in the DB if nothing has changed
![image](https://user-images.githubusercontent.com/32522610/973

[2020-10-29 11:49] i7an commented on #571
Not the prettiest solution but it works:
[code]

[2020-11-01 21:12] jkowens commented on #712
No, there isn't a way to do that right now. We could consider providing an option to just ignore duplicate keys when doing a "recursive" import.

For now, could you try importing categories first and then doing the offer import?

[2020-11-01 22:00] facuhump2409 commented on #712
Yeap, I’ll make that, thanks

[2020-11-03 12:47] facuhump2409 commented on #712
![image](https://user-images.githubusercontent.com/32522610/97987111-83a95500-1db9-11eb-8912-3970b33d6a06.png)
@jkowens  And is there a way to avoid having that validation when importing recursively? Because it makes the import very slow with a lot of records

[2020-11-03 13:51] jkowens commented on #712
I think you'd have to turn off validations entirely using `validate: false`.

[2020-11-04 11:30] nhh commented on #587
Would be awesome to post your findings here until the docs are updated. I am currently searching for this feature 😄

[2020-11-04 12:11] #712 closed

[2020-11-04 12:28] nhh opened #713 "Unique index is being ignored on import with on_duplicate_key_update"
Hi,

the following code ignores my unique index:

```Performance.import performances, on_duplicate_key_update: { constraint_name: 'idx_performances_for_upsert', columns: :all }```

The following error is returned, and namely hints the ignored unique constraint:

`ActiveRecord::RecordNotUnique: PG::UniqueViolation: ERROR:  duplicate key value violates unique constraint "idx_performances_for_upsert"

[2020-11-04 12:48] jkowens commented on #713
Can you confirm what version of Postgres you have installed and the version of activerecord-import?

[2020-11-04 13:35] nhh commented on #713
@jkowens

activerecord-import (1.0.6)
'postgres:11'

Did you notice that I am using an index instead of an constraint? (I am not aware of the difference, but its worth noticing)

Thank you for responding!

[2020-11-04 14:41] nhh commented on #713
I also verified that the index exists:

[code]

I must be using this wrong 🤔

[2020-11-04 16:32] jkowens commented on #713
Hm I don't see any obvious issue. Are you able to find the INSERT statment sql? I would test that sql directly in a psql console.

[2020-11-04 17:57] nhh commented on #713
I rember wondering why there is no "ON CONFLICT..." at the end of the sql statement. 🤔 I will deliver a complete query tomorrow.

Thank you!

[2020-11-06 08:29] nflorentin commented on #704
Same problem here, which is a big issue for me.

[code]

And the query logged is the following:
[code]

Can we reopen this issue please ?

[2020-11-10 03:10] jkowens commented on #713
Hey, just checking in. Anything more on why the "ON CONFLICT" wasn't added to the insert statement?

[2020-11-10 07:14] nhh commented on #713
Sorry for not responding. The unique constraint is enforced by Postgres. It seems, that `activerecord-import` does not generate the necessary "ON CONFLICT" part. I dont have more information on that and its ok for now, because we just truncate the table on a daily basis. You can close this issue for now until I provide steps to reproduce! Thank you for checking in:)

[2020-11-10 07:14] #713 closed

[2020-11-26 06:04] jesseduffield commented on #480
Just came across this today: I resolved my issue by calling `.to_a` on what was actually an activerecord relation

[2020-12-02 15:37] codeodor opened #715 "Using activerecord-import with Rails 6.1.0.rc1 results in SystemStackError: stack level too deep"
Using activerecord-import with Rails 6.1.0.rc1 results in SystemStackError: stack level too deep any time we attempt to establish our own connection.

The line in question is:

[code]

[2020-12-02 15:49] codeodor commented on #715
It doesn't seem to happen if I just run one single test, but if I run my whole suite it always ends up triggering it.

If I comment out the line `prepend ActiveRecord::Import::Connection` that adds the AR Import gem's `establish_connection` then it no longer triggers the error. (I don't yet know if AR Import works without doing that, though).

[2020-12-02 16:00] jkowens commented on #715
Hey @codeodor, thanks for the report. I had a feeling we would see some issues with Rails 6.1 since it sounds like there have some big updates in ActiveRecord. I think commenting out that prepend will basically disable AR Import. If you happen upon any leads please keep us updated!

[2020-12-02 17:23] codeodor commented on #715
Thanks @jkowens. In the one place I'm using AR Import, it still seems to work when commenting out that line. That's the good news! But, I'm not sure why AR Import has overridden AR::Base connection method?

It looks like it needs to run this:

`ActiveRecord::Import.load_from_connection_pool connection_pool`

But does it need to run it on every AR::Base model, and what does that do?

I traced it ba

[2020-12-02 18:16] codeodor commented on #715
When running the tests on mysql2 with that prepend removed, we do get more errors, most of which seem to be of the sort:

`ActiveRecord::RecordNotUnique: Mysql2::Error: Duplicate entry '99' for key 'PRIMARY'`

Strangely, sqlite3 tests work better with that line removed: only 4 failures and 3 errors vs 0 failures and 138 errors with it on.

[2020-12-02 18:21] codeodor commented on #715
If we move that line to the bulk_import method, all the tests seem to go back to passing (the ones that passed to begin with, before any changes were made, anyway).

I will check if it gets rid of the problem in my app like this.

[2020-12-02 19:30] jkowens commented on #715
Hey thanks for all digging into this! I'll have to see look this over a little bit, but I think your proposed solution seems very reasonable 👍

[2020-12-05 23:14] jkowens commented on #715
@codeodor can you take a look at #717? I cherry picked a couple of your commits and got the test suite passing with AR 6.1. I’m curious if you will still see errors.

[2020-12-06 04:55] jkowens commented on #715
What's weird is the PR that introduced the `prepend` was fixing a stack level too deep error: https://github.com/zdennis/activerecord-import/issues/647 😅

[2020-12-07 18:52] codeodor commented on #715
@jkowens yes I still get stack level too deep errors when running against the main repo, but if I run it against mine that has the change to where the connection pool is loaded, it seems to run without error.

[2020-12-07 18:57] jkowens commented on #715
Ok, I figured it would. Does the stack trace indicate another library that AR-Import might be conflicting with?

[2020-12-07 19:08] codeodor commented on #715
No, there's just about 20k lines of:

[code]
And then 3 lines from my app.

[2020-12-07 19:54] jkowens commented on #715
Haha ok thanks. I wonder if maybe it's a new Rails setting that we don't have in the test suite that is involved. I guess I'll have to create a demo Rails 6.1 app and play around a bit 😅

[2020-12-10 15:35] karandocs commented on #640
Is there any alternative to achieve this now?

[2020-12-12 21:53] jkowens commented on #715
I've created a demo app with the Rails 6.1 release. So far AR-Import seems to work without issue. Can you create a sample project that reproduces the issue you are seeing?

[2020-12-14 23:09] codeodor commented on #715
Hey, to clarify: I didn't have an issue directly with an attempted import. I didn't even try it. The problem was that AR::Import code was causing my app to have this error when I made my own calls to AR::Base#establish_connection.

I'm gonna try to give an example app later this week, but I am a little swamped so I apologize in advance for the delay.

[2020-12-15 15:24] dorner opened #718 "Rails 6.1 crashes when activerecord-import is in the gemfile"
When I include the latest versions of both active_record and activerecord-import in my Gemfile, any attempt to e.g. run `rails db:migrate` crashes with the following output:

[code]

This error goes away if I either remove activerecord-import or downgrade to Rails 6.0.

[2020-12-15 15:39] jkowens commented on #718
Are you using the latest version of activerecord-import?

[2020-12-15 15:42] dorner commented on #718
I could have sworn I was but I went back and checked and I wasn't. 😮 So sorry - ignore me!

[2020-12-15 15:42] #718 closed

[2020-12-15 15:43] jkowens commented on #718
Haha no worries 👍

[2020-12-16 02:53] nelsonjchen commented on #148
Just throwing this out there, we have an app that also used to be on a MySQL database but then got moved to a PG DB. Thanks for posting your fix!

[2021-02-22 01:22] LaurelOlson opened #721 "Validation fails for existing (valid) records"
If a record already exists in the database, the validation on import does not take into consideration the fields on the existing record. It only considers the fields passed in as args (as a hash). As a result, unless all required params are passed into `import`, validations fail, even if the existing model with the new fields applied is valid.

Example:

[code]

[2021-02-22 03:22] jkowens commented on #721
When importing an array of hashes, you'll have to supply the associated ids:

[code]

If you are using Postgres, you might be interested in taking a look at the "recursive" import option: https://github.com/zdennis/activerecord-import#recursive

[2021-02-22 03:55] LaurelOlson commented on #721
Thanks for the reply and suggestions @jkowens - I reviewed the example I originally provided and realized it's not complete, sorry about that. The use case is there is a foreign key on the table but that data is not available when doing the import without loading in each record from DB to fetch it. I'm passing in a conflict target which is also passed in the data. I would expect that since the con

[2021-02-22 04:39] jkowens commented on #721
@LaurelOlson ah I understand now. The upsert handling all happens at the database level..we just pass that off to Postgres when executing the `INSERT` statement. That means that all the ActiveRecord validations happen first. Could you possibly turn off validations for the import? (make sure to have constraints at the the db level if you do)

[code]

[2021-02-22 04:48] LaurelOlson commented on #721
@jkowens OK yea that's what I thought - I have DB constraints so that should work. Thanks!

[2021-02-22 04:48] #721 closed

[2021-02-22 18:29] LaurelOlson commented on #721
FYI for anyone who comes across this issue:

Turns out the DB constraint doesn't work after all - the import throws `ActiveRecord::NotNullViolation`. This has [come up before](https://github.com/zdennis/activerecord-import/issues/431) and is a limitation:

[2021-02-22 18:34] jkowens commented on #721
Sorry I forgot about that! Thanks for the update.

[2021-03-05 15:03] jkowens commented on #715
@codeodor after finally doing some research into this, I _think_ I discovered the root cause of the issue. It seems like your code or another gem in your project is using `alias_method` on AR::Base#establish_connection. Can you confirm if this is happening?

See:

- https://bugs.ruby-lang.org/issues/11120
- https://blog.bearer.sh/module-overrides-ruby-prepend-alias/

[2021-03-05 15:58] codeodor commented on #715
That is an incredible find. I thought I was decent at searching, but I didn't find this stuff!

Unfortunately, I searched my project and my gems folder with the regex `/alias_method.+:establish_connection/` and it came up empty. So, I don't think that's it. Unless you think maybe I should be looking for some other string?

[2021-03-05 16:00] codeodor commented on #715
Unless ... I do `stub` it in some tests. Maybe that's doing it?

[2021-03-05 16:01] codeodor commented on #715
(But this has also been like this for years -- so if so, why is it only now suddenly a problem?)  I'll try running the suite without those tests to see how it behaves.

[2021-03-05 16:14] jkowens commented on #715
We switched over to `prepend` instead of `alias_method` in v1.0.4. So a fairly recent change. Now that I'm looking back as to why I see it is probably related to this issue 🤦‍♂️

Ref #647

[2021-03-05 21:08] codeodor commented on #715
That's amazing. This was the problem. I solved it by not stubbing AR::Base.establish_connection in my tests, and just creating the DB and migrating it when running. Tests take a little longer to run, but it'll work for me.

Be nice if there was a way to un-prepend it for testing purposes though.

Thanks a lot for your help. I don't think I'd have ever discovered that in a million years of digging.

[2021-03-05 21:08] #715 closed

[2021-03-05 23:43] jkowens commented on #715
Whew man, I'm glad you were able to get to the bottom of this one. I feel bad this negatively impacted your tests. I wonder if mocking libraries are working on this issue with prepended modules?

[2021-03-06 00:44] codeodor commented on #715
Could be that they are, or they already have. I use a crossbreed between rspec mocks and minitest for `stub_any_instance` and I'm not sure if it runs through that or not -- I'll need to check.

But I do wonder if they would then have the opposite problem: any gem that uses `alias_method` they may then be in conflict with.

I'll check that out at a later time, though. I'm just glad to know I don't

[2021-03-11 12:27] clushie commented on #686
With the commercial https://rails-lts.com fork support goes up to ruby 2.7, thanks for leaving the monkey-patch for reference.

[2021-03-12 02:00] tashirosota opened #723 "ActiveModelImportResult[:num_inserts] does not work In mysql"
Showld not num_inserts return if does not work, it gets confusing.

[2021-03-13 05:20] tashirosota commented on #723
What do you think of [this approach?](https://github.com/tashirosota/activerecord-import/pull/2/files)

[2021-03-13 16:27] jkowens commented on #723
Hi @tashirosota, `num_inserts` should be working for MySQL. If it isn't I believe that is a bug to be fixed. Can you post an example with result?

[2021-03-14 00:41] tashirosota commented on #723
@jkowens
Sorry I was misunderstanding.
I thought num_inserts means record increased count.
This mistake is easy to happen.In fact our other team member made the same mistake.
How about adding warning log like [this](https://github.com/zdennis/activerecord-import/pull/724)?

[2021-03-19 21:26] ibrahima opened #726 "Recursive insert breaks when association has a validation on a foreign key ID"
Hi! Apologies if this has been brought up before but I could not find anything regarding this issue.

I have recently been upgrading our version of activerecord-import through several versions (we were on v0.16.0 so pretty old...) and I ran into a minor issue where doing a recursive import failed when the nested association had a validation on the foreign key's presence rather than the relation it

[2021-03-19 21:38] jkowens commented on #726
Hi @ibrahima can you describe how it failed and what the error was? Some sample code might also be helpful, thanks!

[2021-03-19 22:34] ibrahima commented on #726
Hi @jkowens, the issue was that none of the records were imported, and when I check the failed_instances method, I see that the instances failed to be imported because the nested record was invalid. [I've made a PR](https://github.com/zdennis/activerecord-import/pull/727) just to get a CI run for my example so hopefully that will help demonstrate it. For example, in the test suite you would get a

[2021-03-19 23:19] jkowens commented on #726
Hm if the association's foreign key field is not being populated on recursive import that does sound like it's probably a bug. Thanks for the report 👍

[2021-03-20 06:56] ibrahima commented on #726
Well the interesting thing is that if I add validate: false it will fill it in fine and both tables get imported correctly. It's just that the validation is happening before that gets filled in it would seem.

[2021-03-22 08:11] OskarEichler opened #728 "Support for alias_attributes"
Hey Zach,

First of all - amazing job with this gem! Our database has much fever anxiety attacks thanks to your work!

Secondly: When trying to perform a .import on a model with an alias_attribute, unfortunately we're getting an error message that the column does not exist.

Would it be possible to add support for that? Thanks so much!

All the best,
Oskar

P.S. Example:

Model - YoutubeArtistReco

[2021-03-25 01:48] #723 closed

[2021-04-06 15:15] doutatsu commented on #702
I've just experienced this issue and took me quite a bit of time to realise what was going on. So 👍🏻 from me as well, there should be a nicer error message to help with debugging

[2021-04-10 20:40] 2rba commented on #726
not sure that is related, I am having trouble with a foreign key. it worked fine with Rails 5 but with Rails 6 import does not validate if the foreign key record present.
I have installed fresh Rails `6.0.3.6`
activerecord-import (1.0.8)
postgres schema:
[code]

When I do in console `Comment.import [post_id: 1111, body: 'a']` I got the error
[code]

But in Rails 5 `activerecord-import` checked for

[2021-04-16 20:30] thecookieorg commented on #681
Any updates on the issue?

[2021-04-17 03:36] jkowens commented on #681
@thecookieorg hm looks like it is still sitting open in the rails repo.

[2021-04-17 03:40] jkowens commented on #701
Still waiting on ActiveRecord to add support for generated virtual columns in Postgresql. We'll probably need to add documentation about what version of AR supports those column types.

[2021-04-20 21:17] jjb opened #730 "good practice to not require gem in all environments?"
Thanks for a great project!

I think for many uses of the gem, it won't be needed at app runtime, so one would want to include it like this:

    gem 'activerecord-import', require: false

and then do this at the top of one's script

    require 'activerecord-import/base'
    require 'activerecord-import/active_record/adapters/postgresql_adapter'

Does this sound reasonable?

Maybe it should be me

[2021-04-22 13:18] pilgunboris commented on #630
Hi @jkowens, is it possible to exclude `has_many: through` associations from the list for handling?
We had the same error, and I spent many hours until I found that association reflection returns incorrect `foreign_key` from the proxy model here: https://github.com/zdennis/activerecord-import/blob/82ac6f9c90b216be4f1125b36ba7d0d1608dfa6c/lib/activerecord-import /import.rb#L962
It is quite hard to

[2021-04-25 22:54] jkowens commented on #730
Manually requiring the library is mentioned here: https://github.com/zdennis/activerecord-import#manually-loading

Improvements to the readme are always welcome though 👍

[2021-04-26 08:14] jjb commented on #730
whoops! not sure how i missed that, thanks.

[2021-04-26 08:14] #730 closed

[2021-05-15 16:10] jkowens commented on #726
@ibrahima would you mind stepping through some code for me? It looks like we try to load association ids before validating here: https://github.com/zdennis/activerecord-import/blob/82ac6f9c90b216be4f1125b36ba7d0d1608dfa6c/lib/activerecord-import/import.rb#L593

Could you see what goes wrong in your codebase?

[2021-05-30 09:07] serhanbalci opened #733 "ActiveRecord::StatementInvalid PG::CardinalityViolation: ERROR: ON CONFLICT DO UPDATE"
I did not understand why I am getting this error. Anybody ever faces this error with this gem in the Ruby on Rails project.

`PG::CardinalityViolation: ERROR: ON CONFLICT DO UPDATE command cannot affect row a second-time HINT: Ensure that no rows proposed for insertion within the same command have duplicate constrained values. `

Thanks.

[2021-05-30 13:23] jkowens commented on #733
I think this is a case where there is a duplicate within the array of values that are being inserted. With Postgres you will need to make sure the values you are importing are distinct.

[2021-05-30 16:08] serhanbalci commented on #733
Thanks, @jkowens. I hope to update the record not try to insert. For example;  I want to insert products with different IDs and names and I wish to update the same id and name. is this correct usage? Thanks.

[code]

[2021-05-30 16:13] jkowens commented on #733
I assume `additional_attributes` is your array of values? That is where you have duplicate entries. Otherwise your usage is correct.

[2021-05-30 18:28] serhanbalci commented on #733
Yes its array of values, thanks I will try to debug.

[2021-05-30 18:28] #733 closed

[2021-06-22 22:28] RicardoZeballos opened #734 "Typo in Duplicate Key Update Section"
Typo in Duplicate Key Update Section 2nd Example

The example is incorrect.
book.reload.title  # => "Book1"              (stayed the same)
book.reload.author # => "Updated Book Title" (changed)

[2021-06-24 11:36] clemens1483 opened #735 "Rails 6 Single Table Inheritance"
Version: `1.1.0`
Rails: `6.0.4`

**Issue**
Given a table with single table inheritance
[code]

And the following models
[code]

When I import rows for one of the inherited models
[code]

Then activerecord_import does not populate the `type` field according to the class and an exception is raised
[code]

**Expected Behavior**
Then activerecord_import populates the `type` field according to the clas

[2021-06-25 21:24] nickhammond opened #736 "Rails 7 raw_filter method removed"
It looks like Rails 7 removes the `raw_filter` method from `ActiveSupport::Callbacks::Callback` which triggers an undefined method error when calling `import!`.

[code]

It looks like in 6.1 `raw_filter` was just reading the `@filter` variable so maybe just changing the call to `filter` instead would be fine for this. My use case is pretty simple and I ended up just swapping this out for `insert_a

[2021-06-25 21:26] jkowens commented on #736
Hey thanks for the heads up!

[2021-06-25 21:27] jkowens commented on #735
Thanks for reporting the issue 👍

[2021-07-02 09:04] clemens1483 commented on #735
After doing some digging I think I found the root of the problem.

In `ActiveRecord::Base#import_without_validations_or_callbacks`, `#scope_attributes` is used. This method returned the sti column in rails 5.2 but just returns an empty hash (provided no other scopes are used) in rails 6.0. The cause for this seems to have been this pr https://github.com/rails/rails/pull/39967.

[code]

[code]
Sinc

[2021-07-04 05:37] jkowens commented on #735
@clemens1483 your proposed solution looks like it would be a great update. I'll have to carve out some time to test it out.

[2021-07-04 05:41] jkowens commented on #734
Please provide more detail, how should it read?

[2021-07-06 18:45] nerdrew opened #738 "synchronize clears all changes information, is there a way to sync data from the database but preserve previous_changes?"
Title says it all. I'd like to be able to synchronize data from the database (created_at, updated_at, autoinc id, etc), but still have `previous_changes` be correct. I'm trying to run `before_*` and `after_*` hooks, but my after hooks rely often check `previous_changes` to check if they should run.

Current behavior:

[code]

(My) Expected behavior:

[code]

[2021-07-07 03:13] jkowens opened #739 "Setup Github Actions"
Travis is gone so we need to setup Github Actions to run the tests!

[2021-07-11 01:26] terencechow opened #740 "jdbc mysql slower in active record 5?"
We recently upgraded a rails 4 app to rails 5 at my company. We noticed our import jobs were slower so we reverted the upgrade. Investigating it further, I believe the issue is that this library works slower for activerecord 5+ for jdbc mysql. Specifically, it is returning false for `supports_import?` and therefore falling back to the slower `connection.insert` method instead of the `connection.in

[2021-07-11 02:40] terencechow commented on #740
Technically, this library works for jdbc mysql and active record 4 so changing the class name would represent a breaking change for anyone using this library and active record 4. As an alternative we could put two classes in jdbcmysql_adapter.rb so that it looks like the below.

Let me know if you want to do that and I'll make a pull request

[code]

[2021-07-11 16:58] jkowens commented on #740
@terencechow I think you must be one of our few JRuby users 😄

If you are interested in fixing this issue and creating a PR that would be very much appreciated!

[2021-07-14 20:02] jkowens commented on #739
Well I was able to set up an action to test different ActiveRecord versions back to 4.2. Older than that I was having issues with Ruby and MySQL versions 🤷‍♂️  I guess it's probably time to stop supporting those really old versions of Rails anyway.

[2021-07-14 20:02] #739 closed

[2021-07-15 19:46] #735 closed

[2021-07-15 19:46] jkowens commented on #735
@clemens1483 can you test out the master branch to make sure it works as expected for you now?

[2021-07-15 19:47] jkowens commented on #734
This looks fine to me, closing for now.

[2021-07-15 19:47] #734 closed

[2021-07-15 22:15] jkowens commented on #740
@terencechow can you test your app using our master branch? I updated the jdbc mysql adapter to just open the Mysql2Adapter. I'm hoping that works with both Rails 4 and 5.

[2021-07-16 14:58] jkowens commented on #726
@ibrahima after digging into this issue, I realized it is a problem that we unfortunately might not be able to resolve. The issue is that "recursive import" isn't really recursive. In our example of Book -> Chapter, Book gets imported first then Chapter. The issue with validating book_id on Chapter is that when Book gets imported Chapter will be invalid because book_id isn't set (it doesn't exist

[2021-07-17 14:41] #740 closed

[2021-07-17 15:24] jkowens commented on #738
I do not believe so. Can you synchronize first then make changes to your model data?

[2021-07-17 15:32] jkowens commented on #740
Released update in v1.2.0.

[2021-07-17 15:33] jkowens commented on #735
Released in v1.2.0 🎉

[2021-08-09 20:41] t-juryl commented on #718
For whoever is dealing with this issue in the future, you need to update `activerecord-import` to version `1.0.0` or greater

[2021-09-11 15:25] daveomcd opened #747 "Does activerecord-import support SQL SERVER and on_duplicate_key_update?"
So far I have gotten this gem to work with my Rails 5.1.6 app.  It works great for inserting records, but I can't figure out a way to update records if they already exist in my table.  I have a unique constraint on my table but when running the following I get an error as if it doesn't recognize `on_duplicate_key_update`.  Just trying to figure out if this is supported or if there is even a hacky

[2021-09-11 15:46] jkowens commented on #747
@daveomcd unfortunately `on_duplicate_key_update` only works for MySQL, SQLite, and PostgreSQL. There is a gem that adds basic SQL Server support, but it doesn't look like it addresses upsert functionality:

https://github.com/keeguon/activerecord-import-sqlserver

[2021-09-11 15:57] daveomcd commented on #747
@jkowens thanks!  Yeah I looked at it.  Looks like it hasn't been updated in quite some time either - also has a PR that still hasn't been addressed.

Does `activerecord-import` have a "update" method that I can use outside the `on_duplicate_key_update` ?  Just trying to figure out the best way of updating records without deleting records out and reinserting.

[2021-09-11 16:33] jkowens commented on #747
No, activerecord-import only does inserts. We were able to add upsert for the mentioned databases because they have upsert capability with their insert statements.

[2021-09-12 12:52] daveomcd commented on #747
@jkowens, thanks!  The import bulk is huge, so I just need to figure out a process for updating if exists now.  Thanks again for the quick replies and all the help.

[2021-09-12 12:52] #747 closed

[2021-09-12 15:21] jkowens commented on #747
@daveomcd sorry I couldn’t provide more help. I’ve read that you can use MERGE in MSSQL to do upserts but that would be a customized effort for your import set I would assume.

[2021-09-14 14:57] gabrielrodriguez7 commented on #666
Hi @davideluque! executing manually the callbacks it works for me

[code]

[2021-09-15 11:41] gabrielrodriguez7 commented on #666
Hi @davideluque! executing manually the callbacks it works for me. Also had to run 'store!' for each item to keep in permanent storage:

[code]

[2021-09-17 20:41] mrkurko opened #748 "Update Ruby Version on required_ruby_version"
Update the ruby version because the method **positive?** was introduce on ruby higher 2.4

It used on [Here](https://github.com/zdennis/activerecord-import/blob/309d42abe8c27aef23d82e57addadc275126773e/lib/activerecord-import/import.rb#L812)
activerecord-import.gemspec line 19

[2021-09-18 00:41] jkowens commented on #748
Thanks for point this out, I totally missed that. `Numeric#positive?` was introduced in Ruby 2.3, so I will make that the minimum required version.

[2021-09-18 02:53] jkowens commented on #748
Actually I changed my mind, requiring ruby 2.4 and ActiveRecord 4.2 👍

[2021-09-18 02:53] #748 closed

[2021-09-21 05:11] jkowens commented on #701
Generated columns will be supported in Rails 7.

https://weblog.rubyonrails.org/2021/9/17/this-week-in-rails-rails-7-alpha-released/

[2021-09-21 05:11] #701 closed

[2021-09-21 16:37] #736 closed

[2021-10-10 20:07] #726 closed

[2021-10-26 16:59] ryanwood opened #751 "ActiveRecord::Base.default_timezone is deprecated (Rails 7)"
When running rspec on my app, I get this:

[code]

Running on:
`rails#main`: https://github.com/rails/rails/commit/6e83d065ae3722e384d005adf3d4a01487fb89fd
`activerecord-import#master`: https://github.com/zdennis/activerecord-import/commit/8280ad5bdf9930b432354837780fb4b809426936

[2021-10-28 13:47] #751 closed, assigned to nobody

[2021-11-18 16:51] charithreddyv opened #754 "way to access objects errors and halt a record from callback"
Hai there,
i have just started using activerecord-import i am following the way of creating a object and doing import and also setting `run_callbacks` along with `validate_uniqueness: true` when import fails i get an array of `failed_instances` but is there is way i can access the error?

what i mean is in models before_save callback i do some checks and add error to the object like `errors.add("M

[2021-11-26 07:52] kos1kov opened #756 "Don't change the timestamp for returned models if it exists"
Hi, when we make import and pass custom created_at, updated_at, it's inserted into database correctly, but in the returned result we had value that is not equal to value in database because it's set up as Time.now
it works incorrect only when we pass custom timestamp parameters
Also in [documentation](https://github.com/zdennis/activerecord-import#activerecord-timestamps) described that "However,

[2021-11-26 18:55] #756 closed

[2021-12-09 18:01] andyatkinson opened #757 "Non PK UUID column"
Hello. I wanted to take advantage of `RETURNING` to save a round-trip to the database for an area that is particularly costly. However activerecord-import which we're using in the Rails app (Rails 5.x) seems to take over the `import` method that Active Record provides that would let me specify a `returning` clause.

1) Is there a way around that outside of trying to temporarily undefined activerec

[2021-12-09 18:43] jkowens commented on #757
I'm not sure I understand. ActiveRecord doesn't have an `import` method of its own.

Can you show the values for `instance` before it is imported? I want to confirm `external_id` is actually populated. Also can you check your Rails log for the generated SQL that is executed?

[2021-12-09 19:06] andyatkinson commented on #757
Pardon, coffee has not kicked in. I agree Active Record does not have an import method so that was my bad. The method I was trying to use instead of creating an object normally was `insert` but now I'm realizing it's defined on Active Record Relation objects. https://apidock.com/rails/v5.0.0.1/ActiveRecord/Relation/insert

What I wanted was to do in Ruby what I'd do with a SQL statement where I sp

[2021-12-09 19:08] andyatkinson commented on #757
Our use case here is that we're inserting into a partitioned table that is heavily written to, and the immediate lookup afterwards to fetch the value because normal Active Record `create` doesn't populate it, is actually pretty costly as it involves scanning all the partitions. So my idea was to simply try and return it using `returning` after the insert so that we didn't need to look it up again.

[2021-12-09 19:39] jkowens commented on #757
Ohh I understand now, so `external_id` is a generated UUID value. I guess I didn't follow that part at first. So I think the problem is that since you're using models to insert, the `external_id` column is being included with a `NULL` value in the insert statement.

To work around that you could try using an array or arrays or array of hashes to control which columns get included in the insert SQL

[2021-12-09 20:21] andyatkinson commented on #757
Thank you for taking a look and thinking on this @jkowens - as a workaround for now I'm setting the UUID in code instead of the DB. But I'll give what you're saying a shot. Your explanation that the instances are already created in a list and have null/nil values makes sense.

[2021-12-16 13:52] jkwuc89 commented on #736
Q: When will a release of this gem that contains this fix be available at https://rubygems.org/gems/activerecord-import?

[2021-12-16 22:32] ZilvinasKucinskas commented on #736
Releasing new version of the gem would be great! 🚀

I can verify that my application test suite passes with `activerecord-import` master branch:

[code]

[2021-12-17 05:05] jkowens commented on #736
The fix has been released in v1.3.0 🎉

[2022-01-21 14:27] toao commented on #637
@jkowens I just stumbled upon this issue, it's still there and ```activerecord-import-oracle_enhanced``` unfortunately does not fix it.

Example SQL looks like this:
[code]

The ```BAZ``` column should contain the clob data, but instead of the actual content ```empty_clob()``` is passed instead.

[2022-02-04 17:32] pilgunboris commented on #640
@jkowens could you please confirm - does #746 addresses this issue?
Except for that part where need to specify fields to update in associations of course - but this was just a suggestion of how it might work.

If it does save initialized associations and updates all changed fields in existing ones then I think this issue is resolved.

[2022-02-04 18:00] jkowens commented on #640
@pilgunboris yes #746 does address this issue when using the parameter `on_duplicate_key_update: :all` 👍

[2022-02-04 18:10] pilgunboris commented on #640
@jkowens thanks! Closing it then 👍

[2022-02-04 18:10] #640 closed

[2022-02-04 20:17] Nick-t-go opened #765 "Clarification on description for :validate_uniqueness"
In the docs under in the [options](https://github.com/zdennis/activerecord-import#options) section, it states for `:validate_uniqueness`:

I'm assuming it means active record uniqueness validations. Is that what it means? If so can the text be changed to (I can open a PR if accepting community submissions):

This way it is consistent with the `:validate` description which explicitly states:

If th

[2022-02-05 05:01] jkowens commented on #765
Yes `:validate_uniqueness` is for ActiveRecord validations.

[2022-02-15 00:05] Drew-Goddyn commented on #765
Possible to also add clarification for what the pitfalls are? They don't appear to be mentioned in the rest of readme.

[2022-03-06 22:09] jkowens commented on #765
Using `:validate_uniqueness` will require a sql query per record...so it is basically N+1 queries.

[2022-04-28 09:36] iFaujack opened #768 "can't use on_duplicate_key_update in mySQL"
Hello,

I had an issue when I tried passing opt params on duplicate key update. like the gem can't read my params.

Code
`::Development::MultipleBreak.import data, validate: false, on_duplicate_key_update: [:name, :company_id]`

SQL Log
`INSERT INTO tbl_multiple_break (id,name,company_id) VALUES (100,'test 101',1) `

in my project connected to 2 DB's, primary connection to Postgres DB and secondar

[2022-04-28 15:20] iFaujack commented on #768
when I do insert multiple data SQL log shows the data insert into the table one by one.

currently, I'm using mysql2 gem with version 0.5.2 for the DB adapter.

`
(21.7ms)  INSERT INTO `tbl_multiple_break` (`id`,`name`,`company_id`) VALUES (103,'test 101',1)
(0.8ms)  INSERT INTO `tbl_multiple_break` (`id`,`name`,`company_id`) VALUES (101,'test',2)
`

[2022-04-28 15:36] jkowens commented on #768
Yeah, exactly as I suspected. I'm guessing your multiple db setup is the reason for the issue.  It doesn't seem like the overwritten `establish_connection` is being called for MariaDB.

https://github.com/zdennis/activerecord-import/blob/74ea5b1f2f6a9c1e958bff1e29eb46de32860735/lib/activerecord-import/import.rb#L251

You could try manually requiring the activerecord-import adapter for MySQL:

[cod

[2022-04-28 15:45] iFaujack commented on #768
thank you for your help.
i tried to manually requiring this
`require 'activerecord-import/active_record/adapters/mysql2_adapter'`

upsert process works well for my secondary DB (MySQL),

[2022-04-28 15:45] #768 closed

[2022-04-28 15:48] jkowens commented on #768
Great glad to hear that. Hopefully at some point someone is able to figure out how to load that automatically with multi db support 😄

[2022-05-19 19:57] mnort9 opened #770 "Handle conflict targets differently"
Is it possible to set different conflict options depending on which unique index was violated?

For example, if `field_a` is violated then ignore, but if `field_b` is violated then update columns

[2022-05-27 09:47] Aug-zhong opened #771 "About track_validation_failures and import methods"
Hello
I'm having a problem with this: `track_validation_failures: true`
when i import method take `an array of hashes`, the failed_instances will be `an array of arrays`, with each internal array of the form `[:index_in_dataset, :object_with_errors]`
when i import method take `an array of models`, the failed_instances will be `an array` with each internal array of the form `[:object_with_errors]`,

[2022-06-08 21:15] jkowens commented on #770
I'm not aware of a way to make that work. We basically turn parameters into a SQL statement to execute against the database, so the underlying database would have to support a way of doing that. For instance, I don't think Postgres allows multiple conflict targets with different updates to be specified.

[2022-06-22 04:37] OskarEichler opened #772 "QUESTION: Difference between ActiveRecord-Import & upsert_all in Rails 7?"
Hey guys,
Great work on this gem! We've been using it for the past few years and recently upgraded to Rails 7. With Rails 7 comes quite a few [new config options](https://blog.kiprosh.com/rails-7-adds-new-options-to-upsert_all/) for upsert_all, and I wanted to know what exactly the differences are now that still exist between ActiveRecord-Import and upsert_all?

[2022-06-22 05:19] jkowens commented on #772
I definitely recommend switching to the Rails default upsert_all. I don't have a list of all the differences but I think a couple things may be the "recursive" import option for Postgres users and also the ability to import models that can be validated before import.

[2022-06-22 08:07] OskarEichler commented on #772
Did a bit more research on upsert_all, and definitely see a couple of downsides that I would like to clarify here:

- There still is no synchronize method in core Rails that I'm aware of?
- The returned results from upsert_all are not Models but just an array of hashes.
- There is no good way of doing run_callbacks since the the returned results is not an array of models.

Kind of thinking to just

[2022-06-30 16:55] OskarEichler commented on #728
I think the implementation for this would be pretty quick, by doing the following:

[code]

[2022-06-30 16:56] jkowens commented on #728
Hey @OskarEichler, sorry I just haven't had time to work on this project lately. If you can provide a PR that would be fantastic 👍

[2022-06-30 16:58] jkowens commented on #770
Closing for now.

[2022-06-30 16:58] #770 closed

[2022-07-01 00:54] vsolari opened #773 "activerecord-import with public_activity no found"
you can use the gem 'activerecord-import', '~> 0.23.0' with the gem 'public_activity', '~> 1.6', any example?, when performing the "import" the "trackable" is not executed

[2022-07-04 14:56] lentesta opened #774 "mysql_adapter.rb:29:in `+': String can't be coerced into Integer (TypeError)"
Hi folks,

I'm getting the above error when trying my first activerecord-import test.  I've checked the MySQL log and development.log, which have no other information.  I'd appreciate any help in trying to resolve it.

I'm using:
- ruby 2.4.10p364 (2020-03-31 revision 67879) [x86_64-linux]
- Rails 4.2.11.3
- mysql  Ver 14.14 Distrib 5.7.33, for Linux (x86_64) using  EditLine wrapper

My table look

[2022-07-04 14:57] lentesta commented on #774
I should add that regular inserts, not using activerecord-import, work fine.

[2022-07-05 03:44] jkowens commented on #774
Can you identify one of these values here is a string value when executing your code?

https://github.com/zdennis/activerecord-import/blob/ea304fd66bbcd333e4559e7fe5dcc814d71b3ffb/lib/activerecord-import/adapters/mysql_adapter.rb#L29

[2022-07-05 13:54] jkowens commented on #774
Hm that is interesting, `values_in_bytes` should be the sum of the values `bytesize` so that should be an integer as well.

[code]
Can you see if `Array#sum` or `String#bytesize` is monkey patched in your project or possibly by another gem dependency?

[2022-07-05 13:56] lentesta commented on #774
For what it's worth, if the value of values_in_bytes is computed this way, everything appears to work in my demo:

[code]

[2022-07-05 13:57] lentesta commented on #774
@jkowens - I'll check.  Rails isn't my strength, so this might take a bit to figure out.

[2022-07-05 14:11] lentesta commented on #774
@jkowens Here's the output of that check:

Here's the code that produces it:
[code]

Am I correct in assuming that array#sum is monkey patched by the statsample gem?  And if so, how do I fix that?

Thanks again for the help here.

[2022-07-05 21:52] lentesta commented on #774
Thanks, @jkowens.  I'll try that.

[2022-07-05 21:52] #774 closed

[2022-07-15 02:10] jkowens commented on #773
The issue was explained well here: https://github.com/public-activity/public_activity/issues/371#issuecomment-1172213611

[2022-07-15 02:10] #773 closed

[2022-07-21 16:02] #604 closed

[2022-07-25 00:05] jtcontreras90 commented on #666
Hi @gabrielrodriguez7! I modified your script to not run unnecessary callbacks for anyone that may be looking how to do it:
[code]
I run store_image! after the import as it's in an `after_commit` callback.

This way I had no N+1 in the process

[2022-07-26 08:59] ssontakke opened #775 "Anchor links in README doesn't take you to correct location in the readme for on_duplicate_key_ignore and on_duplicate_key_update"
In the Options table, in row for `:on_duplicate_key_ignore` the link points to full link instead of an anchor link.

The anchor link should be https://github.com/zdennis/activerecord-import#duplicate-key-ignore

- Current Link: https://github.com/zdennis/activerecord-import/#duplicate-key-ignore
- Expected Link: The anchor link should be https://github.com/zdennis/activerecord-import#duplicate-key

[2022-07-26 13:32] #775 closed

[2022-07-28 20:28] SlipperyWizard commented on #667
any update on this?

[2022-08-03 15:59] teckwan opened #777 "Delegating values with default for generation in database."
Hello! First of all I'd like to thank the maintainers, as this gem has been very useful for me and my organisation.

I have a question about the intended functionality of the gem. As context, I have a model whose `id` is generated by a custom function in the database. When importing using instantiated objects, the `id` field is added into the insert query, and hence tries to insert values with `id

[2022-08-03 17:22] jkowens commented on #777
Hi @teckwan, so there isn't much new development going on as far as adding features. There have been others who have run into the issue you are describing when using models to import to to tables that have fields that use generated values. I'd be happy to consider your ideas for solving this problem. I don't know if there is a way to dynamically identify such fields or if a parameter would need to

[2022-08-04 08:05] teckwan commented on #777
Thanks for the speedy response @jkowens.

I'm no connaisseur of the interface between ActiveRecord and the database but I don't think the ActiveRecord API gives us this information. Off the bat a possible implementation would be:

Query the database for this information at the start only when an option is given. Concretely i think it would look somewhat like this:
[code]
We're able to get the colu

[2022-08-04 14:08] jkowens commented on #777
@teckwan that looks like a good solution to me. I think that would help resolve the issue described here #757 as well. If you want to work on building this feature out it would be welcome 👍

[2022-08-08 07:49] teckwan commented on #777
@jkowens would be a pleasure! I'll try to come up with something in the coming days.

[2022-08-30 19:34] fmichaut-diff opened #779 "Support returning `ids` for mysql too"
According to this: https://stackoverflow.com/questions/7333524/how-can-i-insert-many-rows-into-a-mysql-table-and-return-the-new-ids
It is possible to compute the inserted IDs on mysql and returning in the `ids` field of the result like it is done for Postgres.

It would be a great improvement as it is very useful to be able to get the list of records that just got inserted as there is no easy way

[2022-08-30 20:06] jkowens commented on #779
That has been discussed here: https://github.com/zdennis/activerecord-import/pull/279

[2022-09-13 21:04] jdalt opened #780 "ActiveRecord::Base.default_timezone Deprecation Warnings in Rails 7.0"
Starting up a rails 7 application deprecation warnings are emitted:
[code]

`ActiveRecord::Base.default_timezone` is used in several places and should be updated:
[code]
The Gem should be updated to remove the deprecation warnings.

[2022-09-13 21:09] jdalt commented on #780
Sorry this issue has already been addressed with conditional checks of the form `if ActiveRecord.respond_to?(:default_timezone)`.

[2022-09-13 21:09] #780 closed

[2022-09-23 11:00] gvaibhav1734 opened #782 "Import with synchronize docs issue"
## Issue
Documentation needs to call out the actual working of `:synchronize`.
## Example
Let's say we have a ActiveRecord model `Item` and we are using something like:
[code]
The expectation after `import` is that `@items` got synchronized with `import` updates in place. However, the `@active` instance variable is not reset which should be explicitly called out in the documentation.

## Code expl

[2022-10-08 01:52] lipe-pepe opened #784 "How can I use import to do upsert in a model that has 2 unique indexes?"
In my model "Students", the column 'email' has an unique index and the column 'cpf' also has an unique index. The problem is that when I try to do upsert with:
`Student.import students_array, validate: true, track_validation_failures: true, on_duplicate_key_update: {conflict_target: [:email], columns: :all} `
it violates the unique constraint. This error is shown:
[code]
How can I solve this? I wo

[2022-10-08 17:12] jkowens commented on #784
The upsert basically makes use of Postgres ON CONFLICT conditions. From what I've read this isn't really a supported scenario, but I would suggest trying to research how you would do it with SQL. My first thought is to try adding a composite index for both email and cpf. I can't say for sure that would work.

[2022-11-07 01:12] #784 closed

[2022-11-10 19:57] mattvague opened #785 "Proposal: `.import` should accept array-like objects"
Hi there, I was recently trying to do something like

[code]

and was confused about why I was getting a `ArgumentError: Invalid arguments!` error. As pointed out in [this issue](https://github.com/zdennis/activerecord-import/issues/480), simply calling `Thing.import(things.to_a)` would fix things since `things` would be an `ActiveRecord_Relation` however, I'd like to propose that `.import` should

[2022-11-30 15:18] gravitystorm opened #787 "Upcoming breakage with next Rails release"
I was working on something completely unrelated, and came across this problem with using the latest activerecord-import version running against the current rails `main` branch.

https://github.com/zdennis/activerecord-import/blob/ef08aca875b956c74f0432e78b0fa1559e189eb9/lib/activerecord-import/import.rb#L88

The signature of the Rails internal `CallbackChain.compile` method has recently (September